beautifulsoup4==4.8.0
certifi==2022.12.7
chardet==3.0.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.2
django-cacheops==4.1
django-compat==1.0.15
django-crispy-forms==1.7.2
django-environ==0.4.5
django-heroku==0.3.1
django-mysql==2.4.1
funcy==1.12
get==2019.4.13
gunicorn==19.9.0
idna==2.8
mysql-connector-python==8.0.14
mysqlclient==1.4.1
post==2019.4.13
protobuf==3.8.0
psycopg2==2.8.3
public==2019.4.13
PyMySQL==0.9.3
pytz==2019.1
query-string==2019.4.13
redis==3.2.1
request==2019.4.13
requests==2.22.0
six==1.12.0
soupsieve==1.9.2
SQLAlchemy==1.2.17
sqlparse==0.3.0
static3==0.7.0
urllib3==1.25.3
whitenoise==4.1.3
